[user]
    name = {{ user_name }}
    email = {{ user_email }}
[core]
    # 改行コードをLF限定にする
    autocrlf = input
    # .gitignore_globalを有効化
    excludesfile = /home/{{ user_name }}/.gitignore_global
    # パーミッションの変更を無視する
    filemode = false
    # ファイル名の大文字・小文字の変更を検知する。
    ignorecase = false
    # 日本語ファイル名をエスケープせずに表示
    quotepath = false
    # 濁点つきのディレクトリ・ファイルが分けて表示されてしまう UTF8-MAC 問題の解決方法
    precomposeunicode = true
[push]
    # カレントブランチと同名のリモートブランチが存在する場合のみ、カレントブランチのpushが行われる。
    default = simple
[color]
    # カラー設定
    ui = true
    diff = auto
    status = auto
    branch = auto
# aliasはhttps://yuu.1000quu.com/git_alias_and_zsh_settingを参考にした
[alias]
    st = status -sb
    ch = checkout
    br = branch
    bra = branch -a -vv
    ls = ls-files
    cm = commit -m
    sh = stash
    cp = cherry-pick
    l = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
    la = log --oneline --decorate --graph --branches --tags --remotes
    see = browse
    save = stash save -u
    # 現在いるブランチのPull Requestを確認する
    pr = !hub browse -- pull/$(git symbolic-ref --short HEAD)
    # 自分が作った全てのPull Requestを開く
    list = !hub browse -- pulls/$(git config user.name)
    # git config に設定されているaliasを一覧表示する
    # 参考: https://qiita.com/sgr-ksmt/items/1cd9597eacc20121a5b0
    aliases = !git config --get-regexp alias |  sed 's/^alias.//g' | sed 's/ / = /1'
