{
  "enabledPlugins": {
    "superpowers@claude-plugins-official": true,
    "planning-with-files@planning-with-files": true,
    "code-review@claude-plugins-official": true,
    "document-skills@anthropic-agent-skills": true
  },
  "extraKnownMarketplaces": {
    "planning-with-files": {
      "source": {
        "source": "github",
        "repo": "OthmanAdi/planning-with-files"
      }
    },
    "anthropic-agent-skills": {
      "source": {
        "source": "github",
        "repo": "anthropics/skills"
      }
    }
  }
}
