Host *
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 5
  GSSAPIAuthentication no
  ControlMaster auto
  ControlPath ~/.ssh/mux-%r@%h:%p
  ControlPersist 4h

Host github.com
  HostName github.com
  AddKeysToAgent yes
  User git
  IdentityFile ~/.ssh/gitkey
  IdentitiesOnly yes

Host gitlab.com
  HostName gitlab.com
  AddKeysToAgent yes
  User git
  IdentityFile ~/.ssh/gitkey
  IdentitiesOnly yes

Host 127.0.0.1
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host 192.168.*
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes

Host 172.16.*
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes
