Host *
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 5
  GSSAPIAuthentication no

Host github.com
  HostName github.com
  AddKeysToAgent yes
  User git
  IdentityFile ~/.ssh/gitkey
  IdentitiesOnly yes

Host gitlab.com
  HostName gitlab.com
  AddKeysToAgent yes
  User git
  IdentityFile ~/.ssh/gitkey
  IdentitiesOnly yes

Host 127.0.0.1
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host 192.168.0.0/16
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes

Host 172.16.0.0/12
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes

# 所持ドメイン
Host *.toshi.click
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes

Host *.shigure.click
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes

Host *.test
  User {{ user_name }}
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentitiesOnly yes
